QR=web
SESSION=
USERNAME=FrioNode
OWNERNAME=Benson
OWNERNUMBER=254718241545
BLOOMCHAT=120363396597813391@g.us
ERRORCHAT=120363154923982755@g.us
OPENCHAT=120363396597813391@g.us
CHANNELID=120363321675231023@newsletter
CHANNEL=https://whatsapp.com/channel/0029VagLDl6BFLgUIWV9aV2d
BOT_NAME=BloomBot
IMAGE=https://raw.githubusercontent.com/FrioNode/Bloombot/main/colors/bloom.jpg
LANGUAGE=EN
ANTILINK=OFF
REACT=true
EMOJI=🌼
REBOOT=true
NODE_ENV=development
PREFIX=!
TIMEZONE=Africa/Nairobi'
MODE=public
MONGO=mongodb+srv://frio:node@frionode.2ijeyqr.mongodb.net/?retryWrites=true&w=majority&appName=Frionode
PIXEL_API_KEY=khiVE4MkSCKRiKSpyPTnqtxioFSb27YwNNKfzTtKjeSljP8iBYpkvbSS
DEEPSEEK_API=https://platform.deepseek.com/api_keys'
PASTE_BIN_API=pastebin-api'
NULL=NULL SAMPLE NULL