BOTNAME=Luna
SESSION=BLOOM~code_here
MONGO=mongodb://frio:node@localhost:27017/luna?authSource=admin
REDIS=rediss_uri
NODE=development
OWNERNUMBER=254718241545@s.whatsapp.net
SUDOLID=93282663153890@lid
DEVNAME=FrioNode
OWNERNAME=Benson
BLOOMCHAT=120363402730534761@g.us
LOGSCHAT=120363402730534761@g.us
OPENCHAT=120363402730534761@g.us
INVITE=group_invite_code
CHANNELID=120363321675231023@newsletter
CHANNEL=https://whatsapp.com/channel/0029VagLDl6BFLgUIWV9aV2d
IMAGE=https://raw.githubusercontent.com/FrioNode/Bloombot/main/colors/luna.png
LANG=en_US.UTF-8
REACT=false
EMOJI=🌘
REBOOT=false
IS_DOCKER=false
PREFIX=!
TIMEZONE=Africa/Nairobi
MODE=group
WEATHERKEY=weather_api_key
PIXELKEY=pixel_api_key
NINJAKEY=ninja_key
GEMINI=gemini_api_key
DEEPSEEK=deepseek_api_key
PASTEBINAPI=pastebin_api
MAXSTOREMESSAGES=20
STOREWRITEINTERVAL=10000